.header{
display: flex;
flex-direction:row-reverse;
align-content: center;
align-items: center;
border-top: 20px solid #45A132;
border-bottom: 1px solid gray;
box-shadow:0 3px 5px rgba(57, 63, 72, 0.3); 
width: 100%;
}
.header a{
    text-decoration:none ;
    margin: 1%;
    padding: 1% 2%;
    font-size: 20px; 
    border-radius: 25px;
    cursor: pointer;
    font-family: var(--IranSanse)
  
}

.header a:hover:not(.a__green){
    background-color:#45A132 ;
    color: white;
    border: 0.5px solid green;
    box-shadow:0 3px 5px rgba(57, 63, 72, 0.3); 
    opacity: 0.8;
}

.header a:active{
    background-color:#45A132 ;
    color: white;
    border: 0.5px solid green;
    box-shadow:0 3px 5px rgba(57, 63, 72, 0.3);
    transform: translateY(4px)   
}

.a__green{
     color: white;
}

.a__left{
width: 10%;
height: 40px;
display:flex;
justify-content: center;
align-items: center;
background-color: #45A132;
border-radius: 25px;
text-align: center;
margin-right:20%;
border: 0.5px solid green; 
color: white;
}

.Logo {
    background-image: url(../../common/Logo.png);
  }