body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    color: #818181
  }
  
  .sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    background-color: rgb(65, 63, 63);
  }
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 50px;
  }
  p{
    text-align: justify;
  }
  .dropbtn {
    padding: 6px 0px 6px 8px;
    font-size: 25px;
    color: #818181;
    border: none;
    background-color: #111;
    text-align: left;
    width: 100%;
  }
  .dropbtn span{
      padding-left: 10%;  
  }
  .dropbtn span:hover{
      color: white;
  }
  
  .dropdown {
    background-color: #111;
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
  }
   .green{
     background-color: rgb(2, 75, 2);
   }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(80, 78, 78)}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }